
.container{
  background-color: rgb(170, 168, 168);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  padding:0 25px;
  font-size:50px;
  border: none;
}

span{
  margin: 10px;
  font-size:32px;
  color: white;
}



 

 
